<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="admin-container">

    <h2 class="section-title">Agregar Nueva Categoría</h2>
    <div class="form-card">
      <ion-item lines="none">
        <ion-icon name="pricetag" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Nombre de la categoría" [(ngModel)]="newCategory.name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="document-text" slot="start"></ion-icon>
        <ion-textarea placeholder="Descripción del área..." [(ngModel)]="newCategory.description"
          rows="3"></ion-textarea>
      </ion-item>
      <ion-button expand="block" fill="solid" class="submit-btn" (click)="addCategory()">
        Registrar Categoría
      </ion-button>
    </div>

    <h2 class="section-title">Listado de Áreas</h2>
    <div class="active-item" *ngFor="let cat of categories">
      <div class="mini-avatar" style="background: #fdf2f8; color: #802030;">
        {{ cat.name.substring(0,2).toUpperCase() }}
      </div>
      <div class="info">
        <h4>{{ cat.name }}</h4>
        <p>{{ cat.description }}</p>
      </div>
      <div class="action-buttons">
        <ion-button fill="clear" color="primary" (click)="editCategory(cat)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteCategory(cat.id)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>